body {
    background: #223;
    color: white;
    font-family: sans-serif;
}

label {
    background-color: #fff;
    color: #444;
    box-shadow: 0 0 5px -1px white;

    padding: 10px;
    user-select: none;
    cursor: pointer;

    transition: 0.2s;
}

label:hover {
    box-shadow: 0 0 5px 1px white;
    color: #6b2ac7;
}

img {
    transform: translateY(5px);
    visibility: hidden;
}

input {
    visibility: hidden;
}

input:checked + img {
    visibility: visible;
}